.layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

.header { grid-area: header; } 
.main { grid-area: main; }
.footer { grid-area: footer; }

.header, .main, .footer {
  background-image: url("https://media.istockphoto.com/id/2143438524/photo/ancient-paper-background-faded-manuscript-texture-for-writing.jpg?s=612x612&w=0&k=20&c=0m6VU5WlIk3C8ALafny1BxVw4QmHZ1L2D8iwBqSghqA=");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px; 
}

.navHeader {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navButton {
  display: flex;
  gap: 16px;
  margin: auto;
}

.btn1 {
  background-color: #c9a46a;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  font-family: cursive;
  font-size: 24px;
  text-decoration: none;
  padding: 8px 15px; 
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn1:hover {
  transform: scale(1.1);
  background-color: #b58f55;
}

.headerTitle {
  text-align: center;
  font-weight: bold;
  font-family: cursive;
  color: white;
  font-size: 42px; 
  margin-top: 20px;
}

.sectionMain2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "article1 article2 article3"; 
  gap: 20px;
  padding: 40px;
}

.article1:hover, .article2:hover, .article3:hover {
  transform: translateY(-10px);
  background: rgba(255, 255, 255, 0.6);
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "footerAdres formFooter";
  gap: 30px;
  padding: 40px;
}

.footerAdres { grid-area: footerAdres; }
.formFooter { grid-area: formFooter; }

.footerAdres, .formFooter {
  background-color: #3b2313;
  color: #c9a46a;
  border-radius: 20px;
  padding: 25px;
  text-align: center;
  font-family: cursive;
}

.sectionMain1Content {
  text-align: center;
  padding: 60px 20px;
}

.mainH1 {
  font-weight: bold;
  font-family: cursive;
  color: #3b2313;
  font-size: 42px;
}

.mainP {
  font-weight: bold;
  font-family: cursive;
  color: #3b2313;
  font-size: 24px;
}

.btn2 {
  background-color: #5a3a22;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  font-family: cursive;
  text-decoration: none;
  padding: 10px 25px;
  display: inline-block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn2:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
}


.formFooter input, .formFooter textarea {
  width: 90%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #5a3a22;
  color: white;
}

.formFooter button {
  background-color: #fce2b8;
  color: #3b2313;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.formFooter button:hover {
  transform: scale(1.1);
  background-color: #ffffff;
}